<?xml version="1.0"?>
<launch>

<arg name="quad_name" default="hummingbird"/>
    <node pkg="cnuav_navigation" type="eight_traj_gen_node" name="traj_node" output="screen">
        <remap from="pose" to="/$(arg quad_name)/ground_truth/odometry" />
        <remap from="traj" to="/$(arg quad_name)/autopilot/trajectory" />
        <param name="mode" value="true" />
    </node>
</launch>
